*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$color-white: #FFFFFF;
$color-purple: #B83B8C;
$color-black: rgb(0, 0, 0);

body {
    font-family: GT Eesti Display Trial Rg;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: $color-white;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .logo-box {
        width: 112px;
        display: inline-block;

        img {
            width: 112px;
        }
    }

    .nav-box {
        display: inline-block;

        ul {
            display: flex;
            margin-bottom: 0px;

            li {
                list-style: none;
                margin: 0px 15px 0px 0px;

                a {
                    text-decoration: none;
                    outline: none;
                    color: $color-black;

                    &:hover {
                        color: $color-purple;
                    }
                }
            }
        }
    }

    .login-btn {
        text-decoration: none;
        color: $color-purple;
        border: 2px solid $color-purple;
        border-radius: 21px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
        padding: 12px 25px;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        margin-right: 1rem;

        &:hover {
            color: $color-white;
            background-color: $color-purple;
        }
    }

    .register-btn {
        color: $color-white;
        background-color: $color-purple;
        text-decoration: none;
        outline: none;
        padding: 12px 25px;
        border-radius: 21px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        &:hover{
            background-color: #8d1162;
        }
    }
}