*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: GT Eesti Display Trial Rg;
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: #FFFFFF;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .logo-box {
  width: 112px;
  display: inline-block;
}
header .logo-box img {
  width: 112px;
}
header .nav-box {
  display: inline-block;
}
header .nav-box ul {
  display: flex;
  margin-bottom: 0px;
  position: relative;
}
header .nav-box ul .dropdown-content {
  padding: 10px 20px;
  position: absolute;
  left: -32px;
  top: 37.5px;
  background-color: #FFFFFF;
  border-radius: 5px;
  opacity: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
header .nav-box ul .dropdown-content a {
  display: block;
  padding: 10px 0px;
}
header .nav-box ul li:first-child:hover .dropdown-content {
  opacity: 1;
}
header .nav-box ul li {
  list-style: none;
  margin: 0px 15px 0px 0px;
}
header .nav-box ul li a {
  text-decoration: none;
  outline: none;
  color: rgb(0, 0, 0);
}
header .nav-box ul li a:hover {
  color: #B83B8C;
}
header .lang-box {
  display: inline-block;
  margin-left: 0.55rem;
  position: relative;
}
header .lang-box .lang {
  text-decoration: none;
  outline: none;
  padding: 12px;
  border-radius: 100%;
  background-color: #fcf7fb;
  color: rgb(0, 0, 0);
  transition: 250ms all ease-in-out;
  font-size: 15px;
}
header .lang-box .lang:hover {
  color: #B83B8C;
  background-color: #fcf7fb;
}
header .lang-box ul {
  transition: 200ms all linear;
  position: absolute;
  opacity: 0;
  left: -24px;
  top: 37.5px;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding-left: 0px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
header .lang-box ul li {
  list-style: none;
}
header .lang-box ul li a {
  display: block;
  text-decoration: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 7.5px 35px;
}
header .lang-box ul li a:hover {
  color: #B83B8C;
  background-color: #fcf7fb;
  border-radius: 5px;
}
header .login-btn {
  text-decoration: none;
  color: #B83B8C;
  border: 2px solid #B83B8C;
  border-radius: 21px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  padding: 12px 25px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-right: 1rem;
}
header .login-btn:hover {
  color: #FFFFFF;
  background-color: #B83B8C;
}
header .register-btn {
  color: #FFFFFF;
  background-color: #B83B8C;
  text-decoration: none;
  outline: none;
  padding: 12px 25px;
  border-radius: 21px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
header .register-btn:hover {
  background-color: #8d1162;
}

.padding-l-r {
  padding-left: 4.1rem;
  padding-right: 4.1rem;
}

.e-pont-main-content {
  width: 100%;
  background-color: #B83B8C;
  padding: 80px;
  background-image: url(../img/home-top-bg.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  color: #FFFFFF;
}
.e-pont-main-content h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.13;
  margin: 0 0 16px;
}
.e-pont-main-content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0 0 35px;
  max-width: 450px;
}
.e-pont-main-content a {
  margin: 0 0 30px;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: flex-end;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.15;
  padding: 17px 45px;
  border-radius: 28px;
  background-color: white;
  transition: 400ms all ease-in-out;
}
.e-pont-main-content a i {
  margin-left: 10px;
  transition: 200ms all ease-in-out;
}
.e-pont-main-content a:hover {
  background-color: #8d1162;
}
.e-pont-main-content a:hover i {
  transition: 200ms all ease-in-out;
  transform: translateX(10px);
}
.e-pont-main-content ul {
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
}
.e-pont-main-content ul li {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 2rem;
  font-size: 14px;
  font-weight: 400;
}
.e-pont-main-content ul li i {
  width: 24px;
  height: 24px;
  background-color: #932f71;
  border-radius: 50%;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.e-pont-main-content .panel-img img {
  width: 467px;
}

.advantages-section {
  padding: 80px 0px;
}
.advantages-section .advantages-card {
  margin-top: 2rem;
}
.advantages-section .advantages-card .img-box {
  width: 60px;
  height: 60px;
  background-color: #b83b8c;
  font-size: 22px;
  border-radius: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 18px;
}
.advantages-section .advantages-card p {
  color: #626568;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.47;
}

.partners-section {
  background-color: #FCF7FB;
}/*# sourceMappingURL=style.css.map */